*{
    padding:0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:'Poppins',sans-serif;
}
/* Offer bar */
.offer-bar{
    background-color: #1D232C;
    color:#E2E1E1;
    padding: 5px;
    text-align: center;
    font-size: 1.5vw;
}

/* Navigation Bar */

.navbar{
    display:flex;
    justify-content:space-between;
    color:#1D232C; 
    align-items: center;
    background-color: white;
    padding-top:1vw ;
    padding-bottom: 1vw;
    padding-left: 20px;
    padding-right:20px ;
}
.navbar-links{
    display:flex;
    width:50%;
    justify-content: space-around;
    align-items: center;
}
.navbar-link a{
    text-decoration: none;
    color:#1D232C;
}
.navbar-link a:hover{
    text-decoration: underline;
    color:#1D232C;
}

/* Slider */
.slider{
    overflow:hidden;
    display:flex;
    width:100%;
    border-radius: 5px;
    position: relative;
}
.slider-image-container{
    display:flex;
    transition: 2s;
}
.slider-image{
    width:100vw;
}
.slider-left-button{
    position: absolute;
    top:35%;
    left:5%;
    z-index: 1;
}
.slider-left-button i{
    font-size: 10vw;
}
.slider-right-button{
    position: absolute;
    top:35%;
    left:5%;
    
}
.slider-right-button i{
    font-size: 10vw;
}
.slider-content{
    position: absolute;
    color:white;
    text-align: center;
    width:100%;
    top:20%;
}